/* ==========================================================
   🌍 1. Global Reset & Base Setup
========================================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ==========================================================
   🎨 2. Colors & UI Utilities
========================================================== */
.bg-soft-alt-success {
  background-color: rgba(105, 195, 128, 0.1);
  color: #69c380;
}

.text-primary {
  color: #00bcd4 !important;
}

.bg-primary {
  background-color: #00bcd4 !important;
}

.text-secondary {
  color: #7081b9 !important;
}

.bg-secondary {
  background-color: #7081b9 !important;
}


/* ==========================================================
   📌 SECTION & CONTAINER SYSTEM
========================================================== */
.section {
  padding: 100px 0px 100px;
  position: relative;
}

.row>* {
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* ==========================================================
   🔖 4. HEADER & NAVBAR
========================================================== */

.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9;
}

.header.active {
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.navbar {
  padding: 20px 0px;
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav {
  position: relative;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: #7081b9;
  padding-right: 26px;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #00bcd4;
}

.navbar .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0px !important;
}



/* ==========================================================
   🔖 4. HERO SECTION
========================================================== */
.hero-one.main-bg {
  background-color: rgba(247, 140, 75, 0.1);
}

.hero-one .hero-title {
  font-size: 54px;
  line-height: 70px;
  font-weight: 700;
  color: #172d51;
}

@media (max-width: 576px) {
  .hero-one img {
    max-width: 55%;
    margin: 0 auto;
    display: block;
  }
}


/* ==========================================================
   🔖 4. ABOUT SECTION
========================================================== */
.personal-detail-title {
  width: 168px;
  float: left;
  font-weight: 500;
  padding-right: 10px;
  position: relative;
  display: block;
  font-size: 16px;
}

.personal-detail-title:after {
  content: ":";
  position: absolute;
  right: 0;
  top: 0;
}

.personal-detail-info {
  padding-left: 190px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #7081b9;
}

.social a {
  text-decoration: none;
}

.social i {
  width: 36px;
  height: 36px;
  border: 1px solid #8997bd;
  color: #8997bd;
  border-radius: 50%;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  margin-right: 8px;
}

/* ==========================================================
   ✍️ 9. Card Helper Classes
========================================================== */

.card {
  border: none;
  background-color: #fff;
}

.card-body {
  padding: 2rem;
}

.card-bg {
  background-color: #fff;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media .media-body {
  flex: 1;
}

.p-card span {
  color: #377dff;
  background-color: #f0f1f3;
}

/* ==========================================================
    THUMBNAILS
========================================================== */

.thumb-xxs {
  height: 24px !important;
  width: 24px !important;
  font-size: 10px;
  font-weight: 700;
}

.thumb-xs {
  height: 32px !important;
  width: 32px !important;
  font-size: 10px;
  font-weight: 700;
}

.thumb-sm {
  height: 36px !important;
  width: 36px !important;
  font-size: 12px;
  font-weight: 700;
}

.thumb-md {
  height: 42px;
  width: 42px;
  font-size: 14px;
  font-weight: 700;
}

.thumb-lg {
  height: 48px;
  width: 48px;
  font-size: 16px;
  font-weight: 700;
}

.thumb-xl {
  height: 60px;
  width: 60px;
  font-size: 22px;
  font-weight: 700;
}

.thumb-xxl {
  height: 72px;
  width: 72px;
  font-size: 28px;
  font-weight: 700;
}


/* ==========================================================
    BUTTONS
========================================================== */

.btn-primary {
  background-color: #00bcd4 !important;
  border: 1px solid #00bcd4 !important;
}

/* ==========================================================
   💼 13. Resume Section — Accordion
========================================================== */
.accordion .accordion-item {
  border-bottom: 1px dashed #edecf1;
  background-color: transparent;
}

.accordion .accordion-item .accordion-header .accordion-button {
  padding: 1.5rem 1.25rem;
  font-size: 16px;
  background-color: #fff;
  color: #161c2d;
}

.accordion .accordion-item .accordion-header .accordion-button:after {
  display: none;
}

.accordion .accordion-item .accordion-header .accordion-button:before {
  content: "\F2EA";
  font-family: bootstrap-icons !important;
  margin-right: 10px;
  color: #00bcd4;
}

.accordion .accordion-item .accordion-header .accordion-button.collapsed:before {
  content: "\F4FE";
}

.accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 24px 32px;
  background-color: #f9fbfd;
}


/* ==========================================================
   ⭐ 14. Testimonials / Review Carousel
========================================================== */
.client-carousel .carousel-control-prev,
.client-carousel .carousel-control-next {
  width: 40px;
  height: 40px;
  background-color: #defbff;
  border-radius: 50%;
  opacity: 1;
  right: 10px;
  top: 50%;
}


/* ==========================================================
   🏁 15. Footer Section
========================================================== */
.footer {
  color: rgba(255, 255, 255, 0.4);
  padding: 80px 0px 30px;
  background-color: #172d51;
}

.footer .footer-list li a {
  color: rgba(255, 255, 255, 0.4);
}

.footer .footer-list li:hover a {
  color: #fff;
}

/* ==========================================================
   📂 17. Tab Component Styling (Csec Section)
========================================================== */
.Csec .tab_Box {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.Csec .tab_Box .tab_btn {
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: none;
}

.Csec .tab_Box .tab_btn.active {
  color: blue;
}

.line {
  position: absolute;
  height: 2px;
  background-color: green;
}